version: "3.8"

services:
  client:
    build:
      context: .
      args:
        REACT_APP_API_URL: ${REACT_APP_API_URL}
        VITE_GOOGLE_CLIENT_ID: ${VITE_GOOGLE_CLIENT_ID}
    container_name: frontend
    env_file:
      - .env
    ports:
      - "3000:80"
    restart: always
    networks:
      - handmadeshop-net

networks:
  handmadeshop-net:
    name: handmadeshop-net
    external: true
