version: "3.8"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file:
      - ./server/.env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - handmadeshop-net

  server:
    build: ./server
    container_name: backend
    depends_on:
      - db
    env_file:
      - ./server/.env
    ports:
      - "8443:8443"
    restart: always
    networks:
      - handmadeshop-net

  client:
    build:
      context: ./client
      args:
        REACT_APP_API_URL: ${REACT_APP_API_URL}
        VITE_GOOGLE_CLIENT_ID: ${VITE_GOOGLE_CLIENT_ID}
    container_name: frontend
    depends_on:
      - server
    env_file:
      - ./client/.env
    ports:
      - "3000:80"
    restart: always
    networks:
      - handmadeshop-net

volumes:
  db_data:

networks:
  handmadeshop-net:
    name: handmadeshop-net
    driver: bridge
