version: "3.8"

services:
  server:
    build: .
    container_name: backend
    env_file:
      - .env
    ports:
      - "8443:8443"
    restart: always
    networks:
      - handmadeshop-net

networks:
  handmadeshop-net:
    name: handmadeshop-net
    external: true
